html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f2f8fc;
  margin: 0;
  padding: 0;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("https://images.pexels.com/photos/2064827/pexels-photo-2064827.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 230px 0;
  font-weight: 100;
}

.hero button {
  margin-top: 80px;
  cursor: pointer;
  transition: 1s ease-in-out;
  background-color: rgba(83, 83, 83, 0.4);
  padding: 10px 12px;
  border-radius: 100%;
}

.hero button:hover {
  opacity: 0.7;
}

.description p {
  line-height: 1.8;
}


